[user]
  user = ddopson
  name = Dave Dopson
  email = ddopson@gmail.com

[color]
  ui = true

[column]
  ui = always

[alias]
  amend = commit --amend
  sub = submodule
  subs = submodule foreach git
  co = checkout
  stage = add -u
  unstage = reset HEAD
  stat = status
  st = status -- .
  b = !git branch -vv
  ba = !git branch -avv

  h       = !git --no-pager log -10 --graph --date-order --date=short --pretty=tformat:'%x08%C(bold red)%d%C(reset) %C(yellow)%h %C(reset) %ad %C(red)[%an]%C(reset) %s' --color=always
  hh      = !git --no-pager log -20 --graph --date-order --date=short --pretty=tformat:'%x08%C(bold red)%d%C(reset) %C(yellow)%h %C(reset) %ad %C(red)[%an]%C(reset) %s' --color=always
  hhh     = !git            log     --graph --date-order --date=short --pretty=tformat:'%x08%C(bold red)%d%C(reset) %C(yellow)%h %C(reset) %ad %C(red)[%an]%C(reset) %s' --color=always
  hist    = !git hh
  hstat   = !git --no-pager log -10 --graph --date-order --date=short --pretty=tformat:'%x08%C(bold red)%d%C(reset) %C(yellow)%h %C(reset) %ad %C(red)[%an]%C(reset) %s' --shortstat --dirstat=changes,10 --color=always
  hhstat  = !git --no-pager log -20 --graph --date-order --date=short --pretty=tformat:'%x08%C(bold red)%d%C(reset) %C(yellow)%h %C(reset) %ad %C(red)[%an]%C(reset) %s' --shortstat --dirstat=changes,10 --color=always
  hhhstat = !git            log     --graph --date-order --date=short --pretty=tformat:'%x08%C(bold red)%d%C(reset) %C(yellow)%h %C(reset) %ad %C(red)[%an]%C(reset) %s' --shortstat --dirstat=changes,10 --color=always

#| perl -pe 's/^((?:(?:\\033[^m]*m)|[| *\\x08]|[(][^)]+[)])+[a-f0-9]{7,})(?:(?:\\033[^m]*m)|[ ])+[a-f0-9]{7,}((?:(?:\\033[^m]*m)|[ ])+)[[]/${1}${2}[/'
  histold = !git --no-pager log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --date-order -20
  historyold = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short  --date-order
  tp = !git push -nv && git pull -nv
  pull-all = pull --all -v
  push-all = push --all -v
  dc = diff --cached
  pick = cherry-pick
  ignored = !git clean -ndX | perl -pe 's/Would remove/ignored:/'

[status]
  submodulesummary = true

[push]
  default = current 

[diff]
  renames = true
  noprefix = true

[merge]
  conflictstyle = diff3

[format]
  pretty = fuller

[credential]
  helper = osxkeychain
