/Developer
/Favorites
/.npmrc
/.ssh
/.lesshst
/.subversion
/old-home
/.CFUserTextEncoding
/.DS_Store
/.bash_history
/.gitconfig
/.node-gyp/
/.npm/
/.viminfo
/Desktop/
/Documents/
/Downloads/
/Library/
/Movies/
/Music/
/Pictures/
/Public/




/*

!/.gitignore
!/.gitconfig
!/.profile
!/.vimrc
!/.vim
/.vim/.netrwhist
!/bin
